  <mat-toolbar color="primary">
    <mat-toolbar-row class='center_text'>
      <span>Moon Hotel</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <span>Follow us</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <p class="copyright_text">Copyright © 2000–2021 Moon Hotel. Tutti i diritti riservati.</p>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>facebook</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> 
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>