<div class="sign-in-body">
    <form [formGroup]="signin" novalidate (ngSubmit)="onSubmit()" class="login-form">
        <mat-card class="example-card">
            <mat-card-header>
                <h1 class="title">Signin</h1>
            </mat-card-header>
            <mat-card-content>
                <div class="">
                    <input type="text" class="form-control" placeholder="Email" autocomplete="email"
                        formControlName="email" required autofocus
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }">
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors.required">Email is required</div>
                        <div *ngIf="f['email'].errors.email">{{formErrors.email.email}}</div>
                    </div>
                </div>
                <div class="">
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
                        formControlName="password" required
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }">
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors.required">Password is required</div>
                        <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                        <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                    </div>
                </div>
                <div class="">
                    <input type="password" class="form-control" placeholder="Confirm Password"
                        autocomplete="confirm-password" formControlName="confirm_password" required
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.confirm_password.touched && !f.confirm_password.errors }">
                    <div *ngIf="submitted && f['confirm_password'].errors" class="invalid-feedback">
                        <div *ngIf="f['confirm_password'].errors.required">Confirm password is required</div>
                    </div>
                    <div *ngIf="f.confirm_password.errors && f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                        <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
                        <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                    </div>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Surname" autocomplete="current-surname"
                        formControlName="surname" required>
                    <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                        <div *ngIf="f['surname'].errors.required">Surname is required</div>
                        <div *ngIf="f['surname'].errors.pattern">{{formErrors.surname.pattern}}</div>
                    </div>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Name" autocomplete="current-name"
                        formControlName="name" required>
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors.required">Name is required</div>
                        <div *ngIf="f['name'].errors.pattern">{{formErrors.name.pattern}}</div>
                    </div>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="C.F." autocomplete="current-cf"
                        formControlName="cf" required>
                    <div *ngIf="submitted && f['cf'].errors" class="invalid-feedback">
                        <div *ngIf="f['cf'].errors.required">CF is required</div>
                        <div *ngIf="f['cf'].errors.pattern">{{formErrors.cf.pattern}}</div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="">
                    <div *ngIf="messageRespond.length >0">
                        <h3>{{messageRespond}}</h3>
                    </div>
                </div>
                <div class="">
                    <button type="submit" mat-stroked-button>Submit</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>