.example-spacer {
    flex: 1 1 auto;
}

.user_mail{
    margin: 10px;
    font-size: 15px;
}

.link_text{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.navbar_title {
    font-size: 32px;
    text-decoration: none;
    color: black;
}

.link_pages{
    margin-left: 40px;
}