<mat-toolbar>
  <mat-toolbar-row>
    <a class="navbar_title" routerLink="/"><span>Moon Hotel</span></a>
    <div class="link_pages">
      <a class="link_text" routerLink="/who_we_are"><span>Who we are</span></a>
      <a class="link_text" routerLink="/room_list"><span>Room list</span></a>
    </div>
    <span class="example-spacer"></span>
    <div *ngIf="!isLogged(); then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button mat-button color="primary" routerLink="login">
        <span class="material-icons">
          login
          </span>
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-button color="primary" routerLink='/profile/{{UserId()}}'>
        <span class="material-icons">
          perm_identity
          </span>
      </button>
      <span>{{LoginInfo().email}}</span>
      <button mat-button color="primary" (click)="onLogOut()">
        <span class="material-icons">
          logout
        </span>
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>