.login-body{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px;
    height: 800px;
}
.login-form{
    justify-content: center;
    justify-self: center;
}
.title{
    display: block;
    text-align: center;    
}
.login-button{
    float: left;
}

.example-card {
    max-width: 500px;
  }

  .example-header-image {
    background-image: url('../../assets/user.png');
    background-size: cover;
  }