<div class="login-body">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" class="login-form">
        <mat-card class="example-card">
            <mat-card-header>
                <h1 class="title">Login</h1>
                <div  mat-card-avatar class="example-header-image"></div>
              </mat-card-header>
              <mat-card-content>
                <div class="">
                    <input type="text" class="form-control" placeholder="Email" autocomplete="email" formControlName="email"
                        required autofocus
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }">
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors.required">Email is required</div>
                        <div *ngIf="f['email'].errors.email">{{formErrors.email.email}}</div>
                    </div>
                </div>
                <div class="">
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
                        formControlName="password" required
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }">
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors.required">Password is required</div>
                        <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                        <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                    </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <div class="">
                    <div *ngIf="messageRespond.length >0">
                        <h3>{{messageRespond}}</h3>
                    </div>
                </div>
                <div>
                    <button type="submit" mat-stroked-button>Login</button>
                </div>
                <div >
                    <button type="button" (click)='restorePassword()' mat-stroked-button>Forgot password?</button>
                </div>
              </mat-card-actions>
        </mat-card>
    </form>
    <mat-card class="example-card">
        <mat-card-header>
          </mat-card-header>
          <mat-card-content>
            <p>If you are not registered yet</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" routerLink="/sign-in">
                <span>Sign in</span>
            </button>
          </mat-card-actions>
    </mat-card>
</div>