<div class="conatiner">
    <div class="title">
        <h1>{{roomData.name}}</h1>
    </div>
    <div class="row">
        <div class="img_container">
            <img src={{roomData.mediaLink}} alt="room_image">
        </div>
        <div class="description">
            <p>{{roomData.description}}</p>
        </div>
    </div>
    <div class="row">
        <mat-icon aria-hidden="false" aria-label="bed_icon">bed</mat-icon>
        <span>
            : {{roomData.n_bed}}
        </span>
    </div>
    <div class="calendar">
        <form (ngSubmit)="submitBooking()">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]='dateRange' [min]="minDate" [dateFilter]="myFilter" [rangePicker]="picker">
                  <input formControlName="start" required matStartDate placeholder="Start date">
                  <input formControlName="end" (dateChange)='this.checkDateRange()' required matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker  #picker></mat-date-range-picker>
              </mat-form-field>
            <div *ngIf=" isLogged(); then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <button type="submit" [disabled]='this.validDate' mat-button color="primary">Submit Booking</button>
            </ng-template>
            <ng-template #elseBlock>
                <span>You need to log in to book this room</span>
            </ng-template>
        </form>
    </div>
</div>