.conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_container{
    img{
        max-width: 800px;
        margin: 10px;
    }
}
.description{
    max-width: 600px;
    margin: 10px;
    align-self: center;
}
.row{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.title{
    display: block;
    margin: 50px;
    
}