<div class="container">
    <div class="row title">
        <h1><b>Who we are?</b></h1>
    </div>
    <div class="row">
        <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales molestie tortor non molestie. </p>
            <p>In sem magna, aliquet nec est a, volutpat viverra elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            <p>Vestibulum hendrerit mi purus, sit amet interdum felis mollis id. Mauris ipsum tortor, viverra a pulvinar eu, lobortis eget ante. Vestibulum varius, tellus sit amet condimentum lacinia, nulla lacus porttitor lectus, vel efficitur nulla leo a ipsum.</p>
            <p>Ut ac elementum leo, vel condimentum orci. Donec lobortis mi ac elit ornare efficitur. Quisque sagittis est est, sed dictum dui placerat vel. Donec egestas fringilla fermentum.</p>
        </div>
        <div class="img_container">
            <img src="../../assets/hotel_1.jpg" alt="hotel_image">
        </div>
    </div>
    <div class="row">
        <div class="img_container">
            <img src="../../assets/hotel_3.jpg" alt="hotel_image">
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales molestie tortor non molestie. </p>
            <p>In sem magna, aliquet nec est a, volutpat viverra elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            <p>Vestibulum hendrerit mi purus, sit amet interdum felis mollis id. Mauris ipsum tortor, viverra a pulvinar eu, lobortis eget ante. Vestibulum varius, tellus sit amet condimentum lacinia, nulla lacus porttitor lectus, vel efficitur nulla leo a ipsum.</p>
            <p>Ut ac elementum leo, vel condimentum orci. Donec lobortis mi ac elit ornare efficitur. Quisque sagittis est est, sed dictum dui placerat vel. Donec egestas fringilla fermentum.</p>
        </div>
    </div>
</div>