.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    margin: 45px;
}
.description{
    max-width: 500px;
    margin: 15px;
    font-size: 18px;
    text-align: center;
    align-self: center;
}
.img_container{
    margin: 15px;
    img{
        max-width: 500px;
    }
}