<mat-card class="example-card">
    <mat-card-header style="display: block;">
        <img mat-card-image class="room_image" src={{roomData.mediaLink}} alt="room_image">
        <mat-card-title>
            <div class="title">
                {{roomData.name}}
                <span class="bed_label">
                    <mat-icon aria-hidden="false" aria-label="bed_icon">bed</mat-icon>
                    <span>
                        : {{roomData.n_bed}}
                    </span>
                </span>
            </div>
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="body">
        <span class="description">
            {{roomData.description}}
        </span>
    </mat-card-content>

    <mat-card-actions>
        <button routerLink="/room_inspector/{{roomData._id}}" mat-button style="background-color:blue; color:white">
            View room
        </button>
    </mat-card-actions>
</mat-card>