
p {
    font-family: Lato;
}

.example-card {
    max-width: 520px;
    margin: 4px;
    display: block;
    max-height: 520px;
}

mat-card-subtitle{
    font-size:15px
}

mat-card-title{
    color:green;
    font-size:40px
}
.room_image{
    max-width: 150px;
    max-height: 80px;
    margin-left: 20px;
}
.title{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.bed_label{
    align-items: center;
    color: black;
    display: flex;
}
.description{
    max-height: 100px;
    display: block;
    overflow: hidden;
}

.body{
    display: block;
    overflow: hidden;
}