<!-- Base informations -->
<div class="container">
    <div class="row credentials">
        <div class="container">
            <img class="profile_pick" src="../../assets/user.png" alt="user_image">
            <div class="row">
                <p>
                    {{credentials.email}}
                </p>
                <p>
                    {{userData.name}}
                </p>
                <p>
                    {{userData.surname}}
                </p>
                <p>
                    {{userData.cf}}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Add new room -->
<div *ngIf="credentials.role_value === '2'; then thenBlock"></div>
<ng-template #thenBlock>
    <h2 class="title">Administation Panel</h2>
    <div class="container">
        <div class="row">
            <form [formGroup]="addRoomForm" novalidate (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Number of bed</mat-label>
                    <mat-select formControlName="n_bed">
                        <mat-option value=1>1</mat-option>
                        <mat-option value=2>2</mat-option>
                        <mat-option value=3>3</mat-option>
                        <mat-option value=4>4</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Media link</mat-label>
                    <input matInput formControlName="mediaLink">
                </mat-form-field>
                <button mat-stroked-button color="primary" type="submit">Add Room</button>
            </form>
        </div>
    </div>
    <!-- Room list -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                <td class="col_item" mat-cell *matCellDef="let element"> {{element._id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td class="col_item" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td class="col_item" mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="n_bed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Bed </th>
                <td class="col_item" mat-cell *matCellDef="let element"> {{element.n_bed}} </td>
            </ng-container>

            <ng-container matColumnDef="mediaLink">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Media Link </th>
                <td class="col_item" mat-cell *matCellDef="let element"> {{element.mediaLink}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td class="col_item" mat-cell *matCellDef="let element">
                    <div class="actions">
                        <button type="submit" mat-stroked-button>
                            <span class="material-icons">
                                mode_edit
                            </span>
                        </button>
                        <button type="submit" (click)='removeRoom(element._id)' mat-stroked-button>
                            <span class="material-icons">
                                clear
                            </span>
                        </button>
                    </div>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 25, 50]"></mat-paginator>
    </div>
</ng-template>