table {
    width: 100%;
}

td{
    max-width: 20px;
    overflow: hidden;
    margin: 5px;
}

.profile_pick{
    max-width: 200px;
}

.actions{
    text-align: center;
}

.mat-header-cell{
    text-align: center;
}

.container{
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row{
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

mat-grid-tile{
    background-color: gray;
}
.title{
    align-self: center;
    margin: 30px;
    text-align: center;
}