<div class="title_group">
    <h1 class="title">Moon Hotel</h1>
    <h3 >Book now your next travel</h3>
</div>

<!-- Image Carusel -->
<div class="carousel_group">
<mat-carousel timings="250ms ease-in" [autoplay]="true" color="accent" maxWidth="auto" [loop]="true"
    [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
        overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel>
</div>
<div class="ad">
    <h4>Best price!</h4>
</div>
<!-- Best price rooms -->
<div class="showcase">
    <app-room-card *ngFor="let room of rooms" [roomData]='room'></app-room-card>
</div>