.title_group{
    margin: 80px;
    text-align:center
}

.carousel_group{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title{
    font-size: 43px;
}
.showcase{
    display: flex;
    justify-content: center;
}

.ad{
    justify-content: center;
    text-align: center;
    margin-top:  50px;
    margin-bottom: 50px;
    h4{
        font-size: 24px;
    }
}